MYSQL_DATABASE_NAME= #name of database
MYSQL_ROOT_PASSWORD= #database password
MYSQL_USERNAME= #database username

MONGO_DB_USERNAME= #database username
MONGO_DB_PASSWORD= #database password
MONGO_DATABASE_NAME= #name of database